.loader-wrapper{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    z-index: 20000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assetgroup{
    
}
.add-button{
    margin:10px
}
.assetLists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.editbutton{
    margin-left: 10px;
}

.noassets{
    text-align: center;
}