.loader-wrapper{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    z-index: 20000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editTexts{
    display: flex;
    flex-direction: column;
}
.add-button{
    margin:10px
}
.prefcontainer {
    /* align-items: stretch; */
    margin-bottom: 0;
    height: 100%;
    display: flex;
    /* flex:1; */
    flex-direction: column;
    padding-bottom: 10px;
}
.tablecontainer{ 
    position: relative;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: auto !important;
    /* border: 1px solid #CFCFCF; */
    border-radius: 0px;
}
.paginationContainer {
    margin-top: auto;  
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.paginationContainer .content{
    /* position: absolute; */
    /* bottom: 0px; */
}

.assetLists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttonContainer {
    display: flex;
    max-width:100%;
    white-space:nowrap;
    flex-direction: row;  
    left: 0;
  z-index: 1;
  position: sticky;
  background-color: white;
  position: sticky;
}

.buttonContainer .internalContainer {
    flex-direction: row;  
    display: flex;
}

.editbutton {
    margin-left: 10px;
    flex-grow: 1;
}
.removeButton { 
    margin-left: 10px;
    flex-grow: 1;
}

.noassets{
    text-align: center;
}

.nodevicefound{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:darkgray;
    font-size: 2rem;
}