.body-wrapper{
    overflow-x: hidden !important;
    display: flex!important;
    flex-direction: column;
    height: 100%;
}
/* 70px */
.header{ 
    width: auto;
    border-bottom: 2px solid #f1f1f1;
    padding: 10px;
    box-shadow: 5px 3px 3px #888888;
    top:0px;
    position: relative;
    padding: 10px;
    overflow: hidden !important;
    min-height: 65px;
    z-index:200;
    background: white;
    display: inline-block;
}
.icon-label {
    order: 2;
    font-size: large;
    font-weight: bolder;
    margin-left: 10px;
    font-family: monospace;
    /* align-self: center; */
}

.user-side{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    
}
.logout-button {
    order:3;
    margin-right: 20px;
    margin-left: auto;
    min-height: 40px;
}

.menu-button {
    order:1;
    flex:0 0 auto;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.bar {
    margin: auto;
    position: relative;
    height: 3px;
    width: 100%;
    background-color: black;
}
/* 730px */
.content-wrapper{
    flex-grow: 10;
    flex: 1 1 auto;
    height: 100%;
    /* overflow-y: hidden !important; */
    overflow-x: hidden !important;
}

/* desktop view */
@media screen and (min-width: 700px) {
    .content-wrapper{
        margin-left: 200px;
        /* overflow-y: hidden !important; */
        overflow-x: hidden !important;
    }
    .menu-button {
        display: none !important;
        /* margin: 10000px; */
    }
    .header{
        margin-left: 200px;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
  }
  

  /* mobile view */
  @media screen and (max-width: 300px) {
    .content-wrapper{
        margin-left: 0px;
        /* overflow-y: hidden !important; */
        overflow-x: hidden !important;
    }
    .header{
        margin-left: 0px;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
  }


  /* until mobile view */
  @media screen and (max-width: 700px) {
    .header{
        order: 1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .sidebar-open {
        margin-top: 0px;
      }
    .sidebar-close {
        /* display: none; */
        margin-top: -70px;
    }

    .sidebar-wrapper {
        order: 2;
        height: 70px;
        transition: all 0.2s ease-out;
    }
    .content-wrapper{
        margin-top: 5px;
        order: 3;
        flex: 0 0 auto;
    }
  }