.body-wrapper{
    overflow-x: hidden !important;
    display: flex!important;
    flex-direction: column;
    height: 100%;
}
/* 70px */
.header{ 
    border-bottom: 2px solid #f1f1f1;
    padding: 10px;
    box-shadow: 5px 3px 3px #888888;
    top:0px;
    position: relative;
    padding: 10px;
    overflow: hidden !important;
    min-height: 70px;
    width: 100%;
    z-index:200;
    background: white;
    display: inline-block;
}
.icon-label {
    order: 2
}
.user-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logout-button {
    order:3;
    margin-left: 40px;
    min-height: 40px;
}

.menu-button {
    order:1;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.bar {
    margin: auto;
    position: relative;
    height: 3px;
    width: 100%;
    background-color: black;
}
/* 730px */
.content-wrapper{
    flex-grow: 10;
    flex: 1 1 auto;
    height: 100%;
    /* overflow-y: hidden !important; */
    overflow-x: hidden !important;
}

/* desktop view */
@media screen and (min-width: 700px) {
    .content-wrapper{
        margin-left: 200px;
        /* overflow-y: hidden !important; */
        overflow-x: hidden !important;
    }
    .menu-button {
        display: none !important;
        /* margin: 10000px; */
    }
    .header{
        margin-left: 200px;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
  }
  

  /* mobile view */
  @media screen and (max-width: 300px) {
    .content-wrapper{
        margin-left: 0px;
        /* overflow-y: hidden !important; */
        overflow-x: hidden !important;
    }
    .header{
        margin-left: 0px;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
  }