.main-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 79px);
    align-items: stretch;
}
.header-wrapper{
    border-bottom: 1px solid #f1f1f1;
    top:0px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction:  column;

    overflow: auto;
    /* overflow-y: hidden !important; */
    /* min-height: 70px; */
    width: 100%;
    z-index:2000;
    background: white;
}

.loader-wrapper{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    z-index: 19999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height: calc(100vh - 79px);
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.loaderscreen{
    position: absolute;
}

.header-wrapper .datepicker Label{
    font-size: 1em;
    float: left;
    width: fit-content;
    margin-left: 10px;
    margin-top:10px;
}

.header-wrapper .datepicker{
    margin: 10px;
    display: flex;
    flex-direction: wrap;

    /* max-height: 10px; */
}

.header-wrapper .datepicker Input{
    margin-left: 10px;
}
.device-detail-form  Button{
    float: right;
    margin-left: 30px;
    margin-top: 10px;
    height: fit-content;
    /* flex-grow: 1; */
}

.user-side{
    float: right;
    margin: 10px;
    min-height: 40px;
}


.content-wrapper {
    margin-top: 2px;
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
}

.deviceSelection{
    margin: 10px;
    width: 100%;
    max-width: 130px;
    float: left;
    box-shadow: 2px 2px 5px grey;
}

.header-wrapper Input{
    width: 100%;
    max-width: 180px;
    box-shadow: 2px 2px 5px grey;
}

.zoomSelection{
    margin: 10px;
    width: 100%;
    float: right;
    max-width: 130px;
}

.bottom-wrapper{
    height: 5vh;
    position: relative;
    width: 100%;
    background-color: white;
    color: white;
}
@media screen and (max-width: 1076px) {
    .header-wrapper Button{
        flex-grow: 1;
        margin-left: 3px;
    }
}
@media screen and (max-width: 768px) {
    
    .deviceSelection{
        margin: 10px;
        width: 100%;
        text-align-last:center;
        max-width: 800px;
        float: left;
        box-shadow: 2px 2px 5px rgb(238, 0, 0);
    }

    .header-wrapper{
        display: flex;
        /* overflow-y: scroll; */
        overflow: visible;
        flex-direction: column;
        position: relative;
        width: 100%;
        z-index:2000;
        background: #ffffff;
    }
    .header-wrapper button {
        margin-top: 10px;
        width: 100%;
        margin-left: 5px;
        padding-bottom: 10px;
    }
    .bottom-wrapper{
        position: relative;
        width: 100%;
        background-color: white;
        color: white;
    }
  }