.main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: stretch; */
}
.header-wrapper{
    padding:5px 20px ;
    border-bottom: 1px solid #f1f1f1;
    top:0px;
    display: flex;
    flex-direction:  row;
    background: white;   
}
.header-wrapper .deviceSelection-wrapper {
    transform: scale(0.9);
    min-width: 6%;
}

.header-wrapper .fill {
    flex-grow: 1;
}
.header-wrapper .datepicker{
    transform: scale(0.9);
    min-width: 6%;
    margin: auto 0 auto 0; /* magic */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
}

.header-wrapper .datepicker Label{
    transform: scale(0.9);
    margin-top: 5px;
    min-width: 6%;
    white-space: nowrap;
    font-size: 1em;
    margin-right: 4px;
}

.header-wrapper .datepicker Input{
    transform: scale(0.9);
    margin: auto 0 auto 0; /* magic */
    min-width: 10%;
    max-width: fit-content;
}

.header-wrapper Button {
    transform: scale(0.9);
    
    margin: auto 0 auto 0; /* magic */
    align-items: center;
    white-space: nowrap;
    text-align: center;
}
.header-wrapper .fill{
    flex-grow: 1;
}

/* .header-wrapper Input{
    width: 100%;
    max-width: 180px;
    box-shadow: 2px 2px 5px grey;
} */

.content-wrapper {
    margin-top: 2px;
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
}

.zoomSelection{
    margin: 10px;
    width: 100%;
    float: right;
    max-width: 130px;
}

.bottom-wrapper{
    height: 5vh;
    position: relative;
    width: 100%;
    background-color: white;
    color: white;
}

.loader-wrapper{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    z-index: 19999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loaderscreen-wrapper{
    height: calc(100vh - 79px);
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.loaderscreen{
    position: absolute;
}

@media screen and (max-width: 768px) {
    
    .deviceSelection{
        margin: 10px;
        width: 100%;
        text-align-last:center;
        max-width: 800px;
        float: left;
        box-shadow: 2px 2px 5px rgb(238, 0, 0);
    }

    .header-wrapper{
        display: flex;
        /* overflow-y: scroll; */
        overflow: visible;
        flex-direction: column;
        position: relative;
        width: 100%;
        z-index:2000;
        background: #ffffff;
    }
    .header-wrapper Button {
        margin-top: 10px;
        width: 100%;
        margin-left: 5px;
        padding-bottom: 10px;
        
    }
    .bottom-wrapper{
        position: relative;
        width: 100%;
        background-color: white;
        color: white;
    }
  }